<?xml version="1.0" encoding="utf-8"?>
<zone target="DROP">
  <short>{{webserver_zone}}</short>
  <description>Zone for web server</description>
  <rule family="ipv4">
    <source address="{{bastion_internal_ip}}"/>
    <service name="sshd"/>
    <accept/>
  </rule>
  <rule family="ipv4">
    <source address="{{bastion_internal_ip}}"/>
    <service name="httpd"/>
    <accept/>
  </rule>
</zone>
